Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xsd:element name="Hotels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Hotel" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Hotel complex type -->
  <xsd:complexType name="Hotel">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="Address" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <!-- Address complex type -->
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
